/web/bundles/
/web/css/
/web/ckeditor/
/web/font/
/web/js/
/web/media/
/web/uploads/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/config/security.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
