<form role="form" method="get" action="">
    <div class="row">
        <div class="col-md-12">
            <label for="rsvp-search-input">
                To rsvp, please enter a name from your party in the search box below:
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-xs-9">
            <img
                id="bird-3"
                alt="bird-3"
                class="hidden-xs hidden-sm"
                src="/uploads/media/e8a542edce39e490629af0781f295d9a5d6cd5b75e5d858c7e4f0af6f214c5b173ad0e72e255a7d1638d8a4f9d88296e88e40db086c741e82e6448ec7e786bc9.svg"
            />
            <input type="search" class="form-control" id="rsvp-search-input" placeholder="e.g. 'john doe' or 'john' or 'doe'" />
        </div>
        <div class="col-md-2 col-xs-3">
            <button type="submit" id="rsvp-search" class="form-control btn btn-default">
                <span class="fa fa-search"></span>
                <span class="hidden-xs">search</span>
            </button>
        </div>
    </div>
</form>