{% block rsvpHead %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3><span class="fa fa-envelope-o"></span> rsvp</h3>
            </div>
        </div>
    </div>
{% endblock rsvpHead %}

{% block rsvpBody %}
    <div class="container">
        <div class="row">
                <div class="col-sm-12">
                    {% for entity in entities %}
                        {% if entity.location == 'rsvp' %}
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <a href="{{ path('block_edit', { 'id': entity.id }) }}" class="edit-box">
                                    <span class="fa fa-pencil"></span>
                                </a>
                            {% endif %}
                            {{ entity.body|raw }}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="rsvp-rotator" class="animated">
                    {{ include('JJWeddingBundle::rsvpSearchForm.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock rsvpBody %}